.welcome {
    max-width: 100%;
    padding: 50px 0;
    background-color: #87509c;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.welcome_text {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_text h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 80px;
}

.welcome_link_btn {
    padding: 20px 60px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    background: rgb(235, 125, 75);
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 3px solid rgb(200, 106, 64);
}